# CODEOWNERS — Tech Challenge Fase 3
# Repo: tech-challenge-oficina-k8s
# Responsável: Sophia Sussa Campos Bastos (infraestrutura)

# Responsável padrão (fallback)
* @helyomendesdev

# Infraestrutura Kubernetes
/infra/ @helyomendesdev
/k8s/ @helyomendesdev
/terraform/ @helyomendesdev
/scripts/ @helyomendesdev
/docs/ @helyomendesdev

# CI/CD
/.github/ @helyomendesdev
